body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 10px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.header{
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 16px;
}

.content{
  display: flex;
  flex: 1;
}

.footer{
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.sidebar{
  padding: 16px;
  font-size: 24px;
}

.cards{
  display: flex;
  flex-flow: row wrap;
  padding: 48px;
  gap: 25px;
}