body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 25px auto;
  font-size: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 1px;
}

.title {
  background: #e3f4ff;
  margin: 16px 0px 16px 0px;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  margin: 16px 0px 16px 0px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 16px 0px 16px 0px;
  padding: 15px;
  padding-left: 30%;
  padding-right: 40%;
}

button {
  background: white;
  width: 120px;
  border: 1px solid #eee;
  display: block;
  padding: 8px;
}

h1{
  font-size: 16px;
}